@import "Styles/inputs.css";
@import "Styles/registration.css";
@import "Styles/containers.css";
@import "Styles/text.css";
/* .container {
  width: 750px;
  height: auto;
  position: absolute;
  top: 200px;
  left: 10%;
}

.text {
  color: white;
  font-size: 25px;
}

.error {
  color: red;
}
 */
