.chart-div {
  margin-top: 20px;
  margin-right: 20px;
  width: 500px;
  height: 350px;
  border: 1px solid var(--main-gold);
  float: left;
  background-color: black;
}

.gc-image {
  width: auto;
  height: 90%;
  border: 1px solid var(--main-gold);
  margin: auto;
}

.gc-div {
  height: 200px;
  display: flex;
  border: 1px solid red;
}

p {
  color: var(--main-gold);
}

@media (max-width: 768px) {
  .chart-div {
    width: 99.4%;
    height: auto;
    float: none;
    text-align: center;
  }

  #statistics-container {
    width: 100%;
  }
}

.chart-title {
  color: var(--main-gold);
  text-align: center;
}
